-#= render partial: 'layouts/member_navbar'

-#- content_for :materials do
  = @library_file.name
  = @library_file.description
  = @library_file.thumbnail
  = @library_file.url
  = @library_file.get_category_name

-content_for :content do
  = @course.title
  = @page.name
  -#= render partial: 'member/pages/library_group'
  -#- @page_categories.library_files.each do |file|
  -#  .col-xs-6.col-sm-3.col-md-3
  -#    = link_to file.download_url do
  -#      = image_tag file.images.first.url.url(:thumb), class: 'thumbnail'
  -#      = file.name
  -#    = link_to 'X', file, :method => :delete, :data => { :confirm => t('views.are_you_sure')}
