%h3 Template#body


.row
  .col-lg-9.col-md-9
    %h3
      %strong
        CATEGORIA:
        = @subcategory.name
  - @subcategory.archives.each do |archive|
    .col-xs-6.col-sm-3.col-md-3
      = link_to '#' do
        = image_tag archive.images.first.url.url(:thumb), class: 'thumbnail'
        = archive.name
      = link_to 'X', archive, :method => :delete, :data => { :confirm => t('views.are_you_sure')}

