.row
  .col-lg-4.col-md-4
    %h4 Grupos de videos
    = render partial: 'partials/content_video_groups'
    = link_to 'novo grupo', new_content_video_group_path, :class => 'btn btn-primary'
    = link_to 'novo vídeo', new_content_video_path, :class => 'btn btn-primary'
  .col-lg-4.col-md-4
    %h4 Grupos de arquivos de biblioteca
    = render partial: 'partials/content_library_groups'
    = link_to 'novo grupo', new_content_library_group_path, class: 'btn btn-primary'
    = link_to 'novo arquivo', new_library_file_path, :class => 'btn btn-primary'
  .col-lg-4.col-md-4
    %h4 Grupos de documentos
    = render partial:  'partials/content_docs_groups'
    = link_to 'novo grupo', new_content_docs_group_path, class: 'btn btn-primary'
    = link_to 'novo documento', new_doc_path, :class => 'btn btn-primary'
  .clearfix.hidden-sm-up


%br
%br
%hr
%h3 Blocos de conteúdos
= render partial: 'partials/content_blocks'

= link_to 'Páginas', pages_path, class: 'btn btn-primary' if admin_logged?




