%table.table
  %tr
    %th Nome
    %th Curso
    %th
  - @docs_groups.each do |group|
    %tr
      %td= group.name
      %td= group.course.title
      %td
        = link_to 'editar', edit_content_docs_group_path(group)
        |
        = link_to 'apagar', group, method: :delete, :data => { :confirm => 'Você tem certeza disso?'}


= link_to 'novo grupo', new_content_docs_group_path, class: 'btn btn-primary'


