- content_for :head do
  / Facebook meta-tags
  %meta{content: "#{@course.cover_image}", property: "og:image"}
  %meta{content: "#{@course.title}", property: "og:title"}
  %meta{content: "#{ENV['OFFICE_NAME']}", property: "og:site_name"}


%header

  %h1
    = @course.slug
    %span#course-title= @course.title


  .close-course= link_to 'X', students_path


%br/
%p
  %strong
    Turma:
  - case
    - when @course.students != []
      - @course.students.each do |student|
        %p
          = student.name + ' ' + student.last_name

/ Project Body
.markdown= markdown @course.body unless @course.body.nil?

-# Material de Apoio disponibilizado pelo curso
= render partial: 'courses/course_material', locals: {:course => @course} if student_logged?

/ Social Links
%ul.list-inline
  Compartilhe este Curso:
  %li
    = link_to 'https://www.facebook.com/sharer/sharer.php?u=' + request.original_url, :target => "_blank" do
      %i.fa.fa-facebook.fa-lg
  %li
    = link_to 'http://twitter.com/share?' + request.original_url, :target => "_blank" do
      %i.fa.fa-twitter.fa-lg
  %li
    = link_to 'http://plus.google.com/share?' + request.original_url, :target => "_blank" do
      %i.fa.fa-google-plus.fa-lg


/ Project Navigation
.course-nav
  - if not @course_previous.nil?
    .previous
      = link_to @course_previous do
        %i.fa.fa-chevron-left
        = @course_previous.title

  .overview
    = link_to courses_path do
      %i.fa.fa-th

  - if not @course_next.nil?
    .next
      = link_to @course_next do
        = @course_next.title
        %i.fa.fa-chevron-right

= stylesheet_link_tag "course"
= javascript_include_tag "jquery.lazyload.min", "course"

-# Para Students logados, apenas






