%p
  %strong= 'Nome de Usuário'
  = @student.username

%p
  %strong= 'Nome'
  = @student.name
%p
  %strong= 'Last Name'
  = @student.last_name

%p
  %strong= 'Email'
  = @student.email

= link_to 'Editar', edit_student_path(@student), class: 'btn btn-primary' #if signed_in?