- content_for :head do
  = stylesheet_link_tag "member"

-#  SEM CONTEUDO....APRESENTA AS OPÇÕES DE 'MATERIAIS/VIDEOS/ARQUIVOS', AS PAGINAS QUE O CURSO POSSUI
-#  ESSES LINKS DE PAGINA DEVERAM DIRECIONAR O USUARIO PARA O CONTEUDO DOS BLOCOS DE CADA PAGINA

-if @course.online
  .col-md-10.col-lg-10
    / Grid Projects
    %ul#Grid.row
      - @pages.each do |page|
        %li.mix.col-lg-3.col-md-3.col-sm-4.col-xs-6.text-center
          -#prevenir erro quando criarem paginas sem videos, ou sem blocos de conteus
          - if not page.content_blocks.first.nil? and not page.content_blocks.first.contentable.content_videos.first.nil?
            = link_to member_content_video_path(:id => page.content_blocks.first.contentable.content_videos.first.id, :block_id => page.content_blocks.first.id) do
              .lighter= image_tag(page.images.last == nil ? "logo.gif" :page.images.last.url.url, height: "202", width: "280")
              .page_name
                = page.name

= javascript_include_tag "jquery.mixitup.min", "mixitup"

