

-#- content_for :head do
-#  / Facebook meta-tags
-#  %meta{content: "#{@course.cover_image}", property: "og:image"}
-#  %meta{content: "#{@course.title}", property: "og:title"}
-#  %meta{content: "#{ENV['OFFICE_NAME']}", property: "og:site_name"}
= render partial: 'layouts/my_course_navbar'


%h4
  Pagina pós login de estudante

%p my_courses_students index

%ul#Grid.row
  - @student.courses.each do |course|
    %li.mix.col-lg-4.col-md-4.col-sm-6{:class => "", "data-age" => course.year.year}
      = link_to my_course_content_path(course) do
        .lighter= image_tag course.cover_image.url,  :class => 'img-responsive'
        .course-name
          = '- ' + course.title
          = ' (NÃO PUBLICADO)' if not course.publish?



= stylesheet_link_tag "course"
= javascript_include_tag "jquery.lazyload.min", "course"









