%table.table
  %tr
    %th Nome
    %th Curso
    %th
  - case @video_groups
    - when nil
      = 'Sem grupos'
    - else
      - @video_groups.each do |group|
        %tr
          %td= group.name
          %td= group.course.title
          %td
            = link_to 'EDITAR', edit_content_video_group_path(group)
            |
            = link_to 'APAGAR', group, method: :delete, :data => { :confirm => 'Você tem certeza disso?'}


= link_to 'novo grupo', new_content_video_group_path, class: 'btn btn-primary'


