.pull-left= link_to image_tag(ENV['LOGO_URL']), member_path

.navbar-header
  %button.navbar-toggle{"data-target" => "#menu", "data-toggle" => "collapse", type: "button"}
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar

#menu.collapse.navbar-collapse
  %nav
    %ul.nav.navbar-nav
      - case session[:user_id]
        - when nil
          %li= link_to t('nav.login'), access_login_path
        - else
          %li= link_to 'home', member_path
          %li= link_to t('nav.logout'), access_logout_path



- if @course
  %header
    %h1
      = @course.slug
      %span#course-title= @course.title
