%h3 Grupos de documentos

= render partial: 'content_docs_groups/index'

%h3 Arquivos

%table.table
  %tr
    %th Arquivo
    %th Descrição
    %th link
    %th Grupos
    %th

  - @docs.each do |doc|
    %tr
      -#- case
      %td= doc.name
      %td= doc.description
      %td= link_to 'download', doc.url.url
      %td
        -doc.content_docs_groups.each do |group|
          = '-' + group.name
      %td
        = link_to 'editar', edit_doc_path(doc)
        |
        = link_to 'apagar', doc, :method => :delete, :data => { :confirm => 'Você tem certeza de que quer excluir este documento??' }

= link_to 'novo doc', new_doc_path, class: 'btn btn-primary'
%p= link_to 'voltar', root_url
