%table.table
  %tr
    %th Video
    %th Descrição
    %th Curso
    %th Categoria
    %th

  - @videos.each do |video|
    %tr
      %td
        = link_to  video.title, video.url
      %td= video.description
      %td= video.course.title
      %td
        - case video.category
          - when nil
            ='--'
          - else
            = video.category.name
      %td
        = link_to 'EDITAR', edit_video_path(video)
        |
        = link_to 'APAGAR', video, :method => :delete, :data => { :confirm => 'Você tem certeza de que quer excluir este video??' }



= link_to 'novo video', new_video_path, class: 'btn btn-primary'

= link_to 'voltar', root_path, class: 'btn btn-primary'
