- content_for :navbar do
  = render partial: 'layouts/member_navbar'
  = render 'layouts/member_head'
  %header
    %h1
      = @course.slug
      %span#course-title= @course.title

- content_for :content do
  = render partial: 'member/pages/library_options', locals: {:block => @content_block}
  - if content_for?(:library_options)
    .col-lg-2.col-md-2
      = yield :library_options
    .col-lg-8.col-md-8
      .row
        - @category.library_files.each do |file|
          .col-4.col-lg-4
            = link_to file.url.url do
              = file.name
              = image_tag file.image.url.url(:thumb), class: 'thumbnail'
