- content_for :navbar do
  = render partial: 'layouts/member_navbar'
  = render 'layouts/member_head'
  %header
    %h1
      = @course.slug
      %span#course-title= @course.title

= render partial: 'member/pages/library_options', locals: {:block => @content_block}
= render partial: 'categories/show'#, locals: {:block => @content_block}
