- content_for :navbar do
  = render partial: 'layouts/member_navbar'
  = render 'layouts/member_head'
  %header
    %h1
      = @course.slug
      %span#course-title= @course.title

- content_for :content do
  = render partial: 'member/pages/library_options', locals: {:block => @content_block}
  - if content_for?(:library_options)
    .col-lg-2.col-md-2
      = yield :library_options
    .col-lg-8.col-md-8
      .row
        - @category.library_files.each do |file|
          .col-4.col-lg-4
            = link_to '#' do
              = image_tag 'no_cover_image.gif'#file.images.first.url.url(:thumb), class: 'thumbnail'
              = file.name

  -#- case @subcategories
  -#  - when true
  -#    - @category.library_files.each do |file|
  -#      .col-xs-6.col-sm-3.col-md-3
  -#        = link_to '#' do
  -#          = image_tag file.images.first.url.url(:thumb), class: 'thumbnail'
  -#          = file.name

