/ Carousel
- if admin_logged?
  = link_to 'editar galeria', carousels_path, :class => 'btn btn-primary'
#carousel.carousel.slide
  %ol.carousel-indicators
    - @carousels.each_with_index do |carousel, index|
      %li{:class => (index == 0 ? 'active' : ''), "data-target" => "#carousel", "data-slide-to" => "#{index}"}

  / Carousel slides
  .carousel-inner
    - @carousels.each_with_index do |carousel, index|
      .item{:class => (index == 0 ? 'active' : '')}
        = image_tag carousel.image_url

        = link_to carousel.course do
          .carousel-caption
            = carousel.title

= stylesheet_link_tag "home"
= javascript_include_tag "home"
