- content_for :navbar do
  = render partial: 'layouts/member_navbar'
  = render 'layouts/member_head'
  %header
    %h1
      = @course.slug
      %span#course-title= @course.title

- content_for :content do
  .col-md-10.col-lg-10
    %h2= @content_video.title
    %p= @content_video.description
    .embed-responsive.embed-responsive-16by9
      %iframe.embed-responsive-item{:width=>'560', :height=>'315', :src => "https://www.youtube.com/embed/" + @content_video.url, :allowfullscreen => true}
    - @video_groups.each do |group|
      %h4=" Content de videos groups - #{group.name}"
      = render partial: 'member/pages/video_group' , locals: {:content_videos => group.content_videos}

