- content_for :head do
  / Facebook meta-tags
  %meta{content: "#{@course.cover_image}", property: "og:image"}
  %meta{content: "#{@course.title}", property: "og:title"}
  %meta{content: "#{ENV['OFFICE_NAME']}", property: "og:site_name"}

= render partial: 'layouts/my_course_navbar'

%header

  %h1
    = @course.slug
    %span#course-title= @course.title


  .close-course= link_to 'X', my_course_index_path

.row
  .col-lg-3
    = render partial: 'my_course/sidebar', locals: {:course_id => @course.id}

  .col-lg-9.materials
    %h4
      Escolha o conteúdo que deseja visualizar.

= link_to 'meus cursos', my_course_index_path


= stylesheet_link_tag "course"
= javascript_include_tag "jquery.lazyload.min", "course"
