
= render partial: 'layouts/member_navbar'
= render 'layouts/member_head'
= hidden_field_tag :course_id, @course.id

- content_for :materials do
  %header
    %h1
      = @course.slug
      %span#course-title= @course.title

  .row
    .col-lg-2
      = render 'member/sidebar'
    .col-lg-10
      - case @content_videos.count
        - when 0
          %h4 Sem content_videos
        - when 1
          %table.table
            %tr
              %th Video
              %th Descrição
              %th
              %th
            %tr
              %td=@content_videos.first.title
              %td=@content_videos.first.description
        - else
          %table.table
            %tr
              %th Video
              %th Descrição
              %th
              %th
            - @content_videos.each do |video|
              %tr
                %td
                  = link_to video.title, member_video_path(video.id, :course_id => @course.id)
                %td
                  = video.description
                %td

= link_to 'meus cursos', member_path, class: 'btn btn-primary'
