= simple_form_for(archive,:html => {:multipart => true}) do |f|
  = f.error_notification

  .form-inputs

    -#= f.input :name
    = f.input :description
    = f.input :category_id, label: 'Categoria', :collection => subcategories, value_method: :id,
              label_method: :name, as: :radio_buttons

  .form-actions
    = f.button :submit, :class => 'btn btn-primary'

