%h1 LibraryFile#edit

= simple_form_for(@library_file,:html => {:multipart => true}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :category_id, label: 'Categoria', :collection => Category.all, value_method: :id,
              label_method: :name, as: :radio_buttons

    = link_to 'Adicionar imagem ao arquivo', new_library_file_image_path(@library_file), :class => 'btn btn-default'

    = f.input :url, as: :file, :input_html => { :multiple => true }

    %br/
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'


= link_to 'voltar', archives_path, class: 'btn btn-primary'


