%h3 Grupos de Arquivos de Biblioteca
%p Lembrete: grupos de arquivos de biblioteca são compostos por categorias.
%p Uma categoria pode pertencer a mais de um grupo.

= render partial: 'content_library_groups/index'

= link_to 'novo material', new_library_file_path, class: 'btn btn-primary' #if signed_in?
= link_to 'mass arquivos biblioteca', massive_up_new_path, class: 'btn btn-primary'
= link_to 'mass texturas', massive_up_texture_new_path, class: 'btn btn-primary'
%br/
= link_to 'todos arquivos', library_file_path(LibraryFile.first), class: 'btn btn-primary'
= link_to 'categorias', categories_path, class: 'btn btn-primary'

%p= link_to 'voltar', root_path
