
= session[:user].username
= session[:user].email



%p
  Aqui ficaria disponibilizado links para o estudante baixar os materiais!

%p= link_to 'Material ', '#'
%p= link_to 'Material ', '#'
%p= link_to 'Material ', '#'
%p= link_to 'Material ', '#'
%p= link_to 'Material ', '#'
%p= link_to 'Material ', '#'
%p= link_to 'Material ', '#'
%p= link_to 'Material ', '#'
%p= link_to 'Mais Material ', '#'
%p= link_to 'Mais Material ', '#'
%p= link_to 'Mais Material ', '#'
%p= link_to 'E Mais Material ', '#'
%p= link_to 'E Mais Material ', '#'
%p= link_to 'E Mais Material ', '#'
