/ Menu Projects

/ Grid Projects
%ul#Grid.row
  - @courses.each do |course|
    .col-lg-1.col-md-1
    %li.mix.col-lg-5.col-md-5.col-sm-6{:class => "", "data-age" => course.year.year}
      = link_to course do
        .lighter= image_tag course.cover_image.url,  :class => 'img-responsive'
        .course-name
          = '- ' + course.title
          = ' (NÃO PUBLICADO)' if not course.publish?



= javascript_include_tag "jquery.mixitup.min", "mixitup"
= stylesheet_link_tag "courses"

= link_to('NOVO PROJETO', new_course_path, :class => 'btn btn-primary') if admin_logged?