/ Menu Projects
%ul#navGrid
  %li.filter{"data-filter" => "all"}
    = t 'nav.all_projects'
  - @categories.each do |category|
    %li.filter{"data-filter" => ".#{category.name}"}
      = category.name

  = link_to 'EDITAR CATEGORIAS', categories_path, :class => 'btn btn-primary'# if signed_in?

/ Grid Projects
%ul#Grid.row
  - @courses.each do |course|
    %li.mix.col-lg-4.col-md-4.col-sm-6{:class => "#{categories_helper(course)}", "data-age" => course.year.year}
      = link_to course do
        .lighter= image_tag course.cover_image.url,  :class => 'img-responsive'
        .course-name
          - course.categories.each do |category|
            = category.shortname.upcase
            = '|' unless category == course.categories.last

          = '- ' + course.title
          = ' (NÃO PUBLICADO)' if not course.publish?



= javascript_include_tag "jquery.mixitup.min", "mixitup"
= stylesheet_link_tag "courses"

= link_to('NOVO PROJETO', new_course_path, :class => 'btn btn-primary') if signed_in?