= simple_form_for(@course) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :year, as: :date,  discard_day: true
    = f.input :online

  .form-actions
    = f.button :submit, 'CRIAR CURSO', :class => 'btn btn-primary'
