- content_for :head do
  / Facebook meta-tags
  %meta{content: "#{@course.cover_image}", property: "og:image"}
  %meta{content: "#{@course.title}", property: "og:title"}
  %meta{content: "#{@course.description}", property: "og:description"}
  %meta{content: "#{ENV['OFFICE_NAME']}", property: "og:site_name"}


%header

  %h1
    = @course.slug
    %span#course-title= @course.title


  .close-course= link_to 'X', courses_path


- if admin_logged?
  = link_to('editar', edit_course_path(@course), :class => 'btn btn-primary')

.row
  %em.col-lg-4
    &#126;&#126;&#126;

    %p.description= @course.description

    &#126;&#126;&#126;

/ Project Body
.markdown= markdown(@course.body) unless @course.body.nil?


/ Social Links
%ul.list-inline
  Compartilhe este Curso:
  %li
    = link_to 'https://www.facebook.com/sharer/sharer.php?u=' + request.original_url, :target => "_blank" do
      %i.fa.fa-facebook.fa-lg
  %li
    = link_to 'http://twitter.com/share?' + request.original_url, :target => "_blank" do
      %i.fa.fa-twitter.fa-lg
  %li
    = link_to 'http://plus.google.com/share?' + request.original_url, :target => "_blank" do
      %i.fa.fa-google-plus.fa-lg


/ Project Navigation
.course-nav
  - if not @course_previous.nil?
    .previous
      = link_to @course_previous do
        %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
        = @course_previous.title

  .overview
    = link_to courses_path do
      %span.glyphicon.glyphicon-option-horizontal{"aria-hidden" => "true"}


  - if not @course_next.nil?
    .next
      = link_to @course_next do
        = @course_next.title
        %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}


= stylesheet_link_tag "course"
= javascript_include_tag "jquery.lazyload.min", "course"


- if admin_logged?
  %p.clearfix
    = link_to('editar', edit_course_path(@course), :class => 'btn btn-primary')
    = link_to('apagar', @course, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-primary')
