- case @subcategory
  - when []
    %p Selecione uma categoria, plz
  - else
    %h3
      %strong
        CATEGORIA:
        = @subcategory.name
    %table.table
      %tr
        %th NOME
        %th Descrição
        %th Thumbnail
        %th Url
        %th Image/Arquivo
        %th

      - @subcategory.archives.each do |asset|
        %tr
          %td= asset.name
          %td= asset.description
          %td= asset.thumbnail
          %td= asset.url
          %td= asset.images

          -#%td= material.parent_category
          %td
            = link_to 'EDITAR', edit_archive_path(asset)
            |
            = link_to 'APAGAR', asset, :method => :delete, :data => { :confirm => t('views.are_you_sure')}
