
- content_for :archive_files do
  - case @subcategory
    - when []
      %p Selecione uma categoria, plz
      = image_tag 'materiais.jpg'
    - else
      %h3
        %strong
          CATEGORIA:
          = @subcategory.name
      %table.table
        %tr
          %th
          %th Nome
          %th Descrição
          %th Tipo
          %th

        - @subcategory.archives.each do |archive|
          %tr
            %td= archive.url(:thumb)
            %td= archive.name
            %td= archive.description
            %td= archive.category.group
            %td
              -#- if archive.images != nil
              -#  = image_tag archive.image.url
              - archive.images.each do |image|
                = image_tag image.url.url(:thumb)
              -#  = image.title
              -#  |
              -#  = image.url


            -#%td= material.parent_category
            %td
              = link_to 'EDITAR', edit_archive_path(archive)
              |
              = link_to 'APAGAR', archive, :method => :delete, :data => { :confirm => t('views.are_you_sure')}



.row
  .col-lg-3
    - @categories.each do |category|
      - case
        - when category.archives.count > 0
          = link_to category.name, archives_path(:subcategory => category)
        - else
          %p
            = category.name
            - category.subcategories.each do |subcategory|
              %li
                = link_to subcategory.name, archives_path(:subcategory => subcategory)
      %br/
      %br/
  .col-lg-9
    = yield :archive_files


= link_to( 'Novo material', new_archive_path, class: 'btn btn-primary') #if signed_in?


