%h1 Assets#new
%p Find me in app/views/Assets/new.html.haml

-#= render partial: 'form_new', locals: {:@archive => @@archive, :subcategories => @subcategories}

= simple_form_for(@archive,:html => {:multipart => true}) do |f|
  = f.error_notification

  .form-inputs
    - puts '============================ FORM NEW ===================================='

    -#= f.input :name
    = f.input :description
    = f.input :category_id, label: 'Categoria', :collection => Category.all, value_method: :id,
              label_method: :name, as: :radio_buttons
    = f.input :course_id, collection: Course.all, value_method: :id, label_method: :title, as: :radio_buttons
    = f.input :url, as: :file, :input_html => { :multiple => true }

  .form-actions
    = f.button :submit, :class => 'btn btn-primary'

