= @archive.name
= @archive.description
= @archive.thumbnail
= @archive.url
= @archive.get_category_name

= link_to 'EDITAR', edit_archive_path(@archive)
|
= link_to 'APAGAR', @archive, :method => :delete, :data => { :confirm => t('views.are_you_sure')}
