

.row
  .col-lg-3
    = render partial: 'partials/student_show'

    %br/
    %br/
    - if admin_logged?
      = link_to 'alunos', students_path, :class => 'btn btn-primary'
      //= link_to 'categorias', categories_path, :class => 'btn btn-primary'
      = link_to 'páginas', pages_path, class: 'btn btn-primary'

  .col-lg-9
    %ul#Grid.row
      - @courses.each do |course|
        %li.mix.col-lg-4.col-md-4.col-sm-6{:class => "", "data-age" => course.year.year}
          = link_to member_course_path(course) do
            .lighter= image_tag course.cover_image.url,  :class => 'img-responsive'
            .course-name
              = '- ' + course.title

= stylesheet_link_tag "courses"