
= render partial: 'layouts/member_navbar'
= render 'layouts/member_head'

%header

  %h1
    = @course.slug
    %span#course-title= @course.title


  .close-course= link_to 'X', member_path

.row
  .col-lg-3
    %ul
      %li
        = link_to 'Arquivos','#'# my_course_archives_path(:course_id => @course.id)
      %li
        = link_to 'Videos',  member_course_videos_path(@course), action: 'index'

  .col-lg-9.materials
    %h4
      Escolha o conteúdo que deseja visualizar.


%br/
%br/
%br/
%br/

= link_to 'meus cursos', member_path, class: 'btn btn-primary'


= stylesheet_link_tag "course"
= javascript_include_tag "jquery.lazyload.min", "course"
