- content_for :navbar do
  = render partial: 'layouts/member_navbar'
  = render 'layouts/member_head'

  %header

    %h1
      = @course.slug
      %span#course-title= @course.title


= stylesheet_link_tag "course"
= javascript_include_tag "jquery.lazyload.min", "course"
