%ul
  - @images.each do |image|
    %li
      .row
        .col-lg-3
          = image_tag image.url.url(:thumb)
        .col-lg-9
          %h3= image.title
          = image.description
          %p
            = link_to 'APAGAR', archives_image_path(image), :method => :delete, :data => { :confirm => 'Are you sure?' }
            |
            = link_to 'ADICIONAR INFO', edit_archives_image_path(image)
            |
            = link_to 'VER TAMANHO ORIGINAL', image.url.url

