
- if content_for?(:library_options)
  .col-lg-2.col-md-2
    = yield :library_options

  .col-lg-8.col-md-8
    .row
      - @library_files.each do |file|
        .col-4.col-lg-4
          - if admin_logged?
            = link_to 'x', file, :method => :delete, :data => { :confirm => t('views.are_you_sure')}
            |
            = link_to 'editar', edit_library_file_path(file)
          = link_to file.url.url do
            = image_tag file.image.url.url(:thumb), class: 'thumbnail'
