%table.table
  %tr
    %th NOME
    %th Sub
    %th Parent
    %th Tipo
    %th


  - @categories.each do |category|
    %tr
      %td= category.name
      %td
        - category.subcategories.each do |sub|
          |
          = link_to sub.name, edit_category_path(sub)

      %td= category.parent_category
      %td= category.group
      %td
        = link_to 'EDITAR', edit_category_path(category)
        |
        = link_to 'APAGAR', category, :method => :delete, :data => { :confirm => t('views.are_you_sure')}

%br

= link_to 'NOVA CATEGORIA', new_category_path, :class => 'btn btn-primary'
= link_to 'voltar', root_path, class: 'btn btn-primary'
