%h1 Archive#edit

= simple_form_for(@archive,:html => {:multipart => true}) do |f|
  = f.error_notification

  .form-inputs
    - puts '============================ FORM EDIT ===================================='

    = f.input :name
    = f.input :description
    = f.input :category_id, label: 'Categoria', :collection => @subcategories, value_method: :id,
              label_method: :name, as: :radio_buttons

    = f.input :url, as: :file



    -#%hr
    -#  %ul.list-unstyled
    -#    = render :partial => 'images/image', :collection => @images, :as => :image

    = link_to 'ADICIONAR Arquivo', new_archive_archives_image_path(@archive), :class => 'btn btn-default'
    %br/


  .form-actions
    = f.button :submit, :class => 'btn btn-primary'




= link_to 'Cursos', courses_path
