
= render partial: 'layouts/member_navbar'

- content_for :materials do
  .row
    .col-lg-2
      = render partial: 'member/sidebar'
      = hidden_field_tag :course_id, params[:course_id]

      %h5 Categorias:

      - @categories.each do |category|
        %ul
          - category.subcategories.each do |subcategory|
            %li
              = link_to subcategory.name, my_course_archives_path(:subcategory => subcategory)

    .col-lg-10
      - case @subcategory
        - when []
          %p Selecione uma categoria, plz
        - else
          %h3
            %strong
              CATEGORIA:
              = @subcategory.name
          %table.table
            %tr
              %th NOME
              %th Descrição
              %th Thumbnail
              %th

            - @subcategory.archives.each do |archive|
              %tr
                %td= archive.name
                %td= archive.description
                %td= archive
                %td
                  - archive.archives_images.each do |archive_image|
                    = archive_image.title
                    |
                    = archive_image.url



= link_to 'meus cursos', my_course_index_path, class: 'btn btn-primary'

