= render partial: 'layouts/member_navbar'

- content_for :materials do
  = @library_file.name
  = @library_file.description
  = @library_file.thumbnail
  = @library_file.url
  = @library_file.get_category_name
