!!! 5
%html
  %head
    = render :partial => 'partials/head'
  %body
    .container
      / Header
      %header
        - if content_for?(:navbar)
          = yield :navbar
        - else
          = render partial: 'partials/default_navbar'
          / Mobile menu
        = render :partial => 'partials/flash_message'
      / Main content
      %main
        / Main
        = yield

      / Footer
      = render :partial => 'partials/footer'
