!!! 5
%html
  %head
    = render :partial => 'layouts/head'

    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :integrity => "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", :rel => "stylesheet"}/

  %body
    .container
      / Header
      %header
        - if content_for?(:navbar)
          = yield :navbar
        - else
          = render partial: 'layouts/default_navbar'
          / Mobile menu
        = render :partial => 'layouts/flash_message'
      / Main content
      %main
        / Main
        = yield

      = link_to 'como aluno', member_path, :class => 'btn btn-primary' if admin_logged?
      = link_to 'como admin', root_path, :class => 'btn btn-primary' if admin_logged?

      / Footer
      = render :partial => 'layouts/footer'
