!!! 5
%html
  %head
    = render :partial => 'layouts/head'

  %body

    .container

      -##i18n
      -#  = link_to 'PT-BR', :locale=>'pt-BR'
      -#  |
      -#  = link_to 'ENG', :locale=>'en'

      / Header
      %header




        - if content_for?(:navbar)
          = yield :navbar
        - else
          = render partial: 'layouts/navbar'
        -#- content_for :navbar do
        -#  / Mobile menu
        -#  .navbar-header
        -#    %button.navbar-toggle{"data-target" => "#menu", "data-toggle" => "collapse", type: "button"}
        -#      %span.icon-bar
        -#      %span.icon-bar
        -#      %span.icon-bar
        -#
        -#  #menu.collapse.navbar-collapse
        -#    %nav
        -#      %ul.nav.navbar-nav
        -#        %li
        -#        %li
        -#        %li
        -#          - case session[:user_id]
        -#            - when nil
        -#              = link_to 'Login', access_login_path
        -#            - else
        -#              = link_to 'Perfil', my_course_student_path(session[:user])
        -#              %li
        -#                = link_to 'curso(s)', my_course_index_path
        -#              %li
        -#                = link_to 'Logout', access_logout_path
        -#
        -#= content_for?(:navbar) ? yield(:navbar) : yield

        = render :partial => 'layouts/flash_message'


      / Main content
      %main

        / Main
        - if content_for?(:materials)
          -#.row
          -#  .col-lg-2
          -#    = render partial: 'my_course/sidebar'
          -#  .col-lg-9.materials
          = yield :materials
        - else
          = yield

      / Footer
      = render :partial => 'layouts/footer'


