!!! 5
%html
  %head
    = render :partial => 'layouts/head'

  %body
    %script{:src => "https://code.jquery.com/jquery-2.1.1.min.js", :type => "text/javascript"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"}

    .container

      -##i18n
      -#  = link_to 'PT-BR', :locale=>'pt-BR'
      -#  |
      -#  = link_to 'ENG', :locale=>'en'

      / Header
      %header




        - if content_for?(:navbar)
          = yield :navbar
        - else
          = render partial: 'layouts/navbar'
          / Mobile menu
          .navbar-heade

        = render :partial => 'layouts/flash_message'


      / Main content
      %main

        / Main
        - if content_for?(:materials)
          = yield :materials
        - else
          = yield

      / Footer
      = render :partial => 'layouts/footer'


